html
  head
    title= title
    link(rel="stylesheet" href="./css/displayNotes.css" type="text/css")
  body
    div.container
      div.left
        div#top-left
        div#bottom-left


          ul.note-list
            each val in docs
              li(id=val._id onclick="handler.getNote(id)")
                span.list-title= val.title ? val.title : 'untitled'
                br
                span.list-date= val.created_date
      div.right
        div#top-right
        div#bottom-right
          div#cowport
          textarea(id="edit-note")
    script(src="./js/nib.js")
