html
  head
    title= title
  body
    div#cowport
    button(id="12345" onclick="key.sendKeyPress('12345')")
      <span>send 12345</span>
    script(src="./js/test.js")
    script.
      var key = new Key;
      key.sendKeyPress('');


