head
  head
    title= title
    link(rel="stylesheet" href="./css/style.css" type="text/css")
  body
    aside
    header
    main
      section(class="create-note border")
        <form action="" method="post" target="_self">
          <div>
            <label for="note">Create Note</label><br>
            <textarea id="note" name="thenote" rows="20" cols="75"></textarea>
          </div>
          <div>
            <button type="submit">Save Note</button>
          </div>
          <!-- <iframe src="./sandbox.html" sandbox="allow-scripts" id="sandbox" class="border" frameborder="0"></iframe> -->
        </form>

      </section>
    </main>

  </body>
</html>

