head
  head
    title= title
    link(rel="stylesheet" href="./css/style.css" type="text/css")
  body
    aside
    header
    main
      section(class="create-note border")
        form(action="" method="post" target="_self")
          div
            label(for="note")
              | Create Notes
              br
            textarea(id="edited-note" name="thenote" rows="20" cols="75")
          div
            button(type="submit")
              | Save Note
        div(class=create-button onclick="handler.createNote()")
          | Create Button
    script(src="./js/nib.js")
